@model Fin.Models.Destination

@{
    ViewBag.Title = "Details";
}
@{

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
<h2>Details</h2>

<div>
    <h4>Destination</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Des_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Des_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Des_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Des_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Des_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Des_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Des_Image)
        </dt>

        <dd>
            <img style="width:50% ; height: 50%" src=" @Url.Content(Model.Des_Image)" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category_FID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category_FID)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit","Destinations", new { id =  Model.Destination_Id })"> <i style="color:green" class="bx bx-edit"></i></a>
    <a href="@Url.Action("Back to List","Destinations", new { id =  Model.Destination_Id })"> <i style="color:blue" class="bx bx-arrow-back"></i></a>

  
</p>
