@model Fin.Models.User

@{
    ViewBag.Title = "Details";
}
@{
    // Layout = "~/Views/Shared/_LayoutBusinessUser.cshtml";
    //Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    Layout = "~/Views/Shared/_LayoutVisiter.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />
<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Name)
        </dd>


        <dt>
           Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Address)
        </dd>

        <dt>
           Gender
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Gender)
        </dd>



        <dt>
          Phone Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Phone_Number)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Password
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
           Image
        </dt>

        <dd>
            <img style="width:50% ; height: 50%" src="@Url.Content(Model.User_Image)" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.User_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
