@model Fin.Models.Activity

@{
    ViewBag.Title = "Details";
}
@{

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
<h2>Details</h2>

<div>
    <h4>Activity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PACKAGE.Package_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PACKAGE.Package_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Act_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Act_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Act_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Act_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Act_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Act_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Act_Image)
        </dt>

        <dd>

            <img style="width:50% ; height: 50%" src="@Url.Content(Model.Act_Image)" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Activity_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
