@model IEnumerable<Fin.Models.PACKAGE>

@{
    ViewBag.Title = "Index";
}
@{

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Business_User.Bus_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.Cat_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination.Des_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Package_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Package_duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.No_of_Members)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Package_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Package_Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Package_Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Internet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room_Service)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parking_Space)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Meal_Service)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Package_Style)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Travel_Guider)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transport)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.End_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departure_Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sentimental_score)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Business_User.Bus_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Cat_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination.Des_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Package_title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Package_duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.No_of_Members)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Package_description)
            </td>
            <td>
                <!-- @Html.DisplayFor(modelItem => item.Package_Image)-->

                <img style="width:50% ; height: 50%" src="@Url.Content(item.Package_Image)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Package_Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Internet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room_Service)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parking_Space)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Meal_Service)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Package_Style)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Travel_Guider)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departure_Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sentimental_score)
            </td>
            <td>
               

                <a href="@Url.Action("Edit","PackagesAdmin", new { id = item.Package_id })"> <i style="color:green" class="bx bx-edit"></i></a>
                <a href="@Url.Action("Details","PackagesAdmin", new { id = item.Package_id })"> <i style="color:blue" class="bx bx-detail"></i></a>
                <a href="@Url.Action("Delete","PackagesAdmin", new { id = item.Package_id })"> <i style="color:red" class="bx bx-trash"></i></a>

            </td>
        </tr>
    }

</table>
